body {
  position: relative;
}
.wrap {
  font: 14px system-ui;
  padding: 12px;
  width: 240px;
}
h1 {
  margin: 0 0 8px;
  font-size: 16px;
}
button {
  padding: 8px 10px;
}
#out {
  margin-top: 10px;
}

.form {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}

.input-num {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;

  &:focus-visible {
    outline-width: 2px;
    outline-style: solid;
    outline-color: hsl(0 0 0 / 0.5);
    border-color: #000;
  }
}

.submit-btn {
  padding: 8px 10px;
  background-color: #000;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.05em;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #111;
    transition: transform 0.3s ease;
  }
  &:focus-visible {
    outline-width: 2px;
    outline-style: solid;
    outline-color: hsl(0 0 0 / 0.8);
    outline-offset: 2px;
    border-color: #000;
  }
  &:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
  }
}

.label-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.result-container {
  margin-top: 32px;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}

.result-list {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.result-value {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

input::selection {
  background-color: hsl(0 0 0 / 0.2);
}

.root {
  isolation: isolate;
}